.button-right{
/* margin-left: 200px; */
float: right;
margin-left: 3em;
}


.btn-primary{
    width: 5em;

}

.form-grp{
    display: flex;
}
.input{
    border: none;
    position:absolute;
}

.label{
    display: inline-block;
    cursor: pointer;
}
form{
    padding-top: 10px;
}

.pdx-2{
    padding-right: 10px !important;
    padding-left: 0%;
    padding-top: 0%;
}

.form-group{
    padding-left: 0%; 
}

.form-alingment{
    /* padding-left: 10px;
    padding-right: 10px; */
    float: right;
}

.form-alingment-left{
    /* width: 500px; */
    /* padding-left: 10px;
    padding-right: 10px; */
    float: left;
}

fieldset {
    display:inline;
    border:none;
    /* width: 50% */
    padding: 0%;
    padding-bottom: 10px;
  
}

#formGroup {
    display: flex;
    flex-wrap: wrap;
}


.px-3{
    padding-bottom: 40px !important;     
}
/* .col-6 {
width: 100%;
} */

.col-sm-12{
    padding: 0%;
}


.formwidth{
    width: 100%;

}
.buttongroup{
   width: 100%;

}

.responsive-fieldset {display:inline; width: 100%}

#category:focus option:first-of-type {
    display: none;
}

.pdx-2{
    width: 100%;
}