<div name="form" [formGroup]="form" id="formGroup"> 
<fieldset class="col-md-6 offset-md-0"> 
    <div class="form-group ">
      <div class="pdx-2"> 
      <label>First Name</label>
      <input type="text"  class="form-control span6 offset6 form-alingment" formControlName="firstName" [ngClass]="{'is-invalid':form.get('firstName')?.touched && form.get('firstName')?.invalid}" required/>   
      <div class="invalid-feedback">
        <div>First Name is required</div>
      </div>
      </div>
     </div>
   </fieldset>
   <fieldset class="col-sm-6 offset-md-2">
     <div class="form-group ">
       <label>Last Name</label>
       <input type="text" class="form-control span6 offset6 form-alingment-left" formControlName="lastName" [ngClass]="{'is-invalid':form.get('lastName')?.touched && form.get('lastName')?.invalid}" required />  
       <div class="invalid-feedback">
         <div>Last Name is required</div>
       </div>
     </div>
   </fieldset>
</div>